In [1]:
# the equity bhav copy can be easly downloaded but creating the url as per date 
# no need to interact with the web components?
# sample : https://www.bseindia.com/download/BhavCopy/Equity/EQ140518_CSV.ZIP

In [5]:
import pandas as pd

In [9]:
from datetime import date, timedelta

In [10]:
yesterday = date.today() - timedelta(1)

In [25]:
def eqbhav_zip(dt = yesterday): #supposed to pass a date from the web page
    filename = 'EQ' + dt.strftime('%d%m%y') + '_CSV.ZIP'
    return filename

In [26]:
def eqbhav_url(dt = yesterday): #supposed to pass a date from the web page
    filename = eqbhav_zip(dt)
    urlpart = 'https://www.bseindia.com/download/BhavCopy/Equity/'
    url = urlpart + filename
    return url

In [30]:
#test
yo = eqbhav_url(date.today() - timedelta(1))

In [17]:
date.today().strftime('%d/%m/%y')

'15/05/18'

In [22]:
eqbhav_url(date.today() - timedelta(2))

'https://www.bseindia.com/download/BhavCopy/Equity/EQ130518_CSV.ZIP'

In [24]:
import requests, zipfile, io

In [32]:
def eqbhav_file(url,name = eqbhav_zip):
    r = requests.get(url)
    z = zipfile.ZipFile(io.BytesIO(r.content))

In [33]:
# assume csv is there for now

In [ ]:
columns =

In [42]:
data = pd.read_csv('./data/EQ140518.CSV',header=None,names = ['code','name','open','high','low','close'],usecols=[0,1,4,5,6,7],
                   skiprows=1)

In [43]:
data.head()

     code          name     open     high      low    close
0  500002  ABB LTD.      1248.10  1262.50  1218.35  1247.15
1  500003  AEGIS LOGIS    278.55   279.80   268.65   271.50
2  500008  AMAR RAJA BA   866.00   875.65   860.75   865.25
3  500009  A.SARABHAI      13.87    14.00    13.20    13.23
4  500010  HDFC          1922.00  1935.85  1920.05  1929.90

In [ ]:
# write this to redis